<nav class="pagination">
    <span class="page-number" style="margin: auto"> Page {{ paginator.page }} of {{ paginator.total_pages }} </span>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.baseurl }}#recent" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            <a class="newer-posts" href="{{ site.baseurl }}page{{ paginator.previous_page }}#recent" title="Previous Page">&laquo; Newer Posts</a>
    {% endif %}
    {% endif %}
    {% if paginator.next_page %} 
        <a class="older-posts" href="{{ site.baseurl }}page{{ paginator.next_page }}#recent" title="Next Page">Older Posts &raquo;</a>
    {% endif %} 
</nav>