<script src="{{ site.baseurl }}assets/js/jss.js"></script>
<script src="{{ site.baseurl }}assets/js/purify.js"></script>

<script>
$(function() {
    $("#lunrsearchresults").on('click', '#btnx', function () {
        $('#lunrsearchresults').hide( 1000 );
        $( "body" ).removeClass( "modal-open" );
    });
});

{% assign counter = 0 %}
var documents = [
    // {% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'assets' %}{% else %}
    // {
    // "id": {{ counter }},
    // "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    // "author": "",
    // "title": "{{ page.title }}",
    // "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    // }, {% endif %}{% endfor %}{% for page in site.without-plugin %}{
    // "id": {{ counter }},
    // "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    // "author": "",
    // "title": "{{ page.title }}",
    // "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    // }, {% endfor %}
    {% for page in site.posts %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "author": {% if page.author %} "{{ page.author }}" {% endif %} {% if page.authors %} "{{ page.authors }}" {% endif %},
    "title": "{{ page.title }}",
    "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];

var search;
// var idx;

function lunr_search(term) {
    $('#lunrsearchresults').show( 1000 );
    $( "body" ).addClass( "modal-open" );

    document.getElementById('lunrsearchresults').innerHTML = '<div id="resultsmodal" class="modal fade show d-block"  tabindex="-1" role="dialog" aria-labelledby="resultsmodal"> <div class="modal-dialog shadow-lg" role="document"> <div class="modal-content"> <div class="modal-header" id="modtit"> <button style="font-size: 1.8rem" type="button" class="close" style="font-size: 3rem;" id="btnx" data-dismiss="modal" aria-label="Close"> &times; </button> </div> <div class="modal-body"> <ul class="mb-0"> </ul>    </div> <div class="modal-footer"><button id="btnx" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button></div></div> </div></div>';
    if(term) {
        document.getElementById('modtit').innerHTML = "<h5 class='modal-title'>Search results for '" + term + "'</h5>" + document.getElementById('modtit').innerHTML;
        //put results on the screen.
        // var results = idx.search(term);
        var results = search.search(term);
        results.sort((a,b) => a.id>b.id ? 1 : -1);
        if(results.length>0){
            //if results
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['id'];
                var url = results[i]['url'];
                var title = results[i]['title'];
                var author = results[i]['author'];
                var body = results[i]['body'].substring(0,160)+'...';
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><small><span class='body'>"+ body +"</span><br /><span class='url'>"+ author +"</span></small></a></li>";
            }
        } else {
            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>Sorry, no results found. Close & try a different search!</li>";
        }
    }
    return false;
}
</script>
<style>
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: #c0c0c0;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>

<form id="search-form" class="bd-search hidden-sm-down">
<input type="text" class="search" autocomplete="off"  id="lunrsearch" name="q" value="" placeholder="&#xF002; Search posts..."> 
</form>

<script>
    document.querySelector("#search-form").addEventListener("submit", function (event) {
        event.preventDefault();
        if(search === undefined) {
            search = new JsSearch.Search('id');
            search.indexStrategy = new JsSearch.AllSubstringsIndexStrategy();
            search.addIndex('title');
            search.addIndex('body');
            search.addIndex('author');
            search.addDocuments(documents);
            // idx = lunr(function () {
            // this.ref('id')
            // this.field('title')
            // this.field('body')

            // documents.forEach(function (doc) {
            //     // let time = Date.now()
            //     this.add(doc)
            //     // console.log({doc, time: Date.now()-time})
            //     // console.log(this)
            // }, this)
            // });
        }
        var sanitized = filterXSS(document.getElementById('lunrsearch').value,{
            whiteList:          [],        // empty, means filter out all tags
            stripIgnoreTag:     true,      // filter out all HTML not in the whilelist
            stripIgnoreTagBody: ['script'] // the script tag is a special case, we need
                                            // to filter out its content
        })
        sanitized = !sanitized ? '?' : sanitized
        return lunr_search(sanitized);
    })
</script>
