<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}{{ site.baseurl }}assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}{{ site.baseurl }}assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}assets/images/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}assets/images/favicon-16x16.png"/>
    <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.url }}{{ site.baseurl }}/assets/images/ms-icon-144x144.png">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Brand icon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico" >

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/syntax.css" />

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <style>.hljs { background: none; }</style>

    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    crossorigin="anonymous"></script>
    <div id="fb-root"></div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=404002344270641&autoLogAppEvents=1" nonce="E56q8z3w"></script>

    <!-- Ghost outputs important style and meta data with this tag -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=404002344270641&autoLogAppEvents=1" nonce="E56q8z3w"></script>
    
    <!-- The blog navigation links -->

    <div class="site-wrapper">

        {% include header.html %}

        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

        <!-- The tiny footer at the very bottom -->
        <!-- <footer class="site-footer clearfix">  
        </footer> -->
        {% include footer.html %}
    </div>

    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>

    <img id="scrollBtn" src="{{ site.baseurl }}assets/images/up-arrows.svg" alt="scroll up" />
    
    <!-- highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Ghost outputs important scripts and data with this tag -->
    <!-- {{ghost_foot}} -->
    <!-- Add Google Analytics  -->
    {% include analytics.html %}
    <!-- Fitvids makes video embeds responsive and awesome -->
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.fitvids.js"></script>
    <!-- The main JavaScript file for Casper -->
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/index.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.js"></script>

</body>
</html>
